<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlyffUAutoFSPro.AppSettings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FlyffUAutoFSPro.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlyffUAutoFSPro.AppSettings.Settings>
            <setting name="SettingsFS" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
        </FlyffUAutoFSPro.AppSettings.Settings>
        <FlyffUAutoFSPro.Settings>
            <setting name="HealActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasteActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CatsReflexActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CannenballActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeapUpActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BeefUpActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccuracyActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProtectActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HolyGuardActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SFActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GTActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickStepActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GTAutoRebuffActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatienceActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealOn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HPPotionActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MPPotionActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FPPotionActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelfHealProtectionActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelfHealProtectionValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeyStatus" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="HotkeyFollow" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MentalSignActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GTAutoRebuffValue" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NormalHealingValue" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="CriticalHealingValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UseMPPotionValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseHPPotionValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeyClearTarget" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="MotionRebuffActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MotionRebuffValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealVariant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HealRainActionButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReFollowInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReFollowActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseBotActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseBotTime" serializeAs="String">
                <value>1</value>
            </setting>
        </FlyffUAutoFSPro.Settings>
    </userSettings>
</configuration>